<body>
  <div class="contents">
    <div class="col-md-6 quarter about_me"><%= link_to "about me", about_show_path, class: "fill-div" %></div>
    <div class="col-md-6 quarter resume"><%= link_to "resume", resume_show_path , class: "fill-div" %></div>
    <div class="col-md-6 quarter accomplishments"><%= link_to "accomplishments", accomplishment_index_path, class: "fill-div" %></div>
    <div class="col-md-6 quarter contact_me"><%= link_to "contact me", contact_me_show_path, class: "fill-div" %></div>
  </div>
</body>
