<body class = "container">
  <h2>
  <%= link_to "https://github.com/tboneteen18/cs_2420_code", :target => "_blank" do%>
    <i class="fa fa-github fa-5x"></i>
  <% end %>
  Check out my search and sort functions
  </h2>

  <p>
  <%= link_to welcome_index_path do%>
  Click to enter the site
  <% end %>
  </p>
  <p>
  <%= link_to welcome_index_path do%>
    Click to enter the site
    <% end %>
  </p>
  <p>
  <%= link_to welcome_index_path do%>
  Click to enter the site
  <% end %>
  </p>
  
</body>
