<%= link_to welcome_index_path do%>
<i class="fa fa-times-circle fa-3x"></i>
<% end %>
<h1 class="text-center">Accomplishments</h1>
<body class = "accomplishment-body container text-left">
  <h3>
    I graduated from Utah Valley University <br>with an Associates Degree in Computer Science
  </h3>
  <br> <br>
  <h3>
    While at Clever Coding I helped in the IOS development of Klickn, a social media app.<br>
    I also helped with an app for Wilson Audio.
  </h3>
  <br>
  <h4>
    <u><%= link_to "link to Klickn app", "https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=933551284&mt=8", :target => "_blank"%></u>
    <br><br>
    <u><%= link_to "link to Wilson Audio app", "http://www.wilsonaudio.com/product_app.shtml", :target => "_blank"%></u>
  </h4>
  <h2>Every saturday I teach ruby to a person that is starting to learn.</h2>


</body>
