<div class="container">
  <h1 class = "text-center">List of rounds in the tournament</h1>
  <div class="container">
    <% @round.each do |round| %>
      <ul>
        <li> <%= link_to round.rounded_id, tournament_round_result_index_path(round_id: round.rounded_id) %> </li>
      </ul>
    <% end %>
    <%= link_to "add another round", tournament_round_new_path %>
  </div>
</div>
