<div class="container">
  <div class="row">
    <h1 class="page-header text-center">Run Round Simulation</h1>
      <%= form_for(@round, url: tournament_round_path) do |round| %>
        <div class="form-group">
          <p>Round id: <%= round.text_field :rounded_id, class: 'form-control'%></p>
        </div>
        <div>
          <p><%= submit_tag('Run Simulation', class: 'btn btn-default')%></p>
        </div>
      <% end %>
  </div>
</div>
