<%= link_to root_path do%>
<i class="fa fa-times-circle fa-3x"></i>
<% end %>

<body class = "about-body container text-center">

  <h1>Hey i'm Tyler Russon.</h1>
  <h2>I am 26 years old and have been programming for over 3+ years.</h2>
  <h3>I enjoy doing the backend of coding because I love to work on complex structures and figure out how to get them working and up and running.</h3>
  <br><br>
  <h4>  I think backend is cool because it gets things done. </h4>
  <p>
    Front end is the aesthetics while back end has to do with functionality,
    speed and efficiency; like being able to run servers and manage a lot of information.<br>
    You can work with totally different and new ideas, I like the flexibility of being able to do anything that you can imagine.<br>
    Your imagination is your limit with what you can make that is functional.
  </p>
  <br><br>
  <h4>I am easy to work with and love hearing other people's ideas and putting it all together to accomplish our goal.</h4>
  <p>
    If a team ends up being more difficult I try to find ways to keep the project moving and make sure that we are all productive.<br>
    I enjoy helping other people understand how to come up with a solution to any errors or questions they might have in their coding.
  </p>
  <br><br>
  <h4>I love anything Lord of the Rings.</h4>
  <p>
    Another one of my interests that I like to do on the side includes working on restoring and fixing one of my jet skis.<br>
    Space is something that truly fascinates me and I get really excited about new pictures and information that NASA posts.
  </p>

</body>
