<%= link_to root_path do%>
<i class="fa fa-times-circle fa-3x"></i>
<% end %>

<body class = "about-body container">
  <h1>about me page</h1>

  <!-- <p>
    i am 26 years and have been married for 4 years. <br>
    i have a 2 year old daughter <br>
    i grew up as a surfer bum in california <br>
    i pretty much grew up in the water since if i wasn't surfing i was in waterpolo, swim, or diving for my school <br>
    i moved to utah my senior year of highschool and served a 2 year lds mission <br>
    i recently got my accosiated degree in computer science and am about to complete dev-point-labs developers bootcamp <br>

  </p> -->
</body>
