<%= link_to welcome_index_path do%>
<i class="fa fa-times-circle fa-3x"></i>
<% end %>
<body class = "about-body container text-left">
  <div class="col-xs-8 col-sm-6 col-md-6">
  <h1>About Me</h1>
  <h3>Hey I'm Tyler Russon</h3>
    <p>
       <b><i>I am 26 years old</i></b> and have been programming for over three years
        but I have always been <b><i>the gadget guy</i></b> who tears apart electronics
        to see how they work and then put them back together in an improved fashion.
    </p>
    <p>
      <b><i>For that reason I am passionate</i></b> about the backend of coding because
      I love to work on complex structures,
      figure out how to get them working and ultimately optimize their efficiency.
    </p>

    <p>
      <b><i>The backend excites me</i></b> because it gets things done.
      The front end is the aesthetics of a site while the back end centers on functionality, speed and efficiency.
      The backend is all about managing data and collective information.
      Everyday there is a new challenge to work on and a new way do to do it better.
      I enjoy the flexibility of being able to do anything that you can imagine and Your imagination is truly the only
      limitation on what you can make  is functional in the world of coding.
    </p>
    <p>
      <b><i>I am a team player</i></b> and love hearing about other people's ideas and working in a team to accomplish mutual goals.
      If a team stalls on a project  I help the team find solutions to keep the project moving and finding the solution.
      I enjoy helping other people and understand the importance of learning and developing new skills that is why I personally welcome coaching and mentoring.
      I take the extra time to improve my own skills and talents.
    </p>
    <p>
      <b><i>I love anything Lord of the Rings</i></b>.
      I love tinkering on and restoring  jet skis.
      The expanse of Space is something that truly fascinates me and I get really excited about new pictures and information that NASA posts.
    </p>
  </div>
</body>
