// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.about-body{
  background-image: linear-gradient(
   rgba(107, 152, 166, 0.8),
   rgba(107, 152, 166, 0.8)
   ), url("Bridals10.jpg");
  background-size: 100% 150%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #6B98A6;
}

.fa-times-circle{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: white;
}
