// Place all the styles related to the contact_me controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact-me-body{
  background-color: #737071;
}

.fa-times-circle{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
