html,body {
  padding:0;
  margin:0;
  height:100%;
  min-height:100%;
 }
 .contents{
   height:50%;
   width:100%;
 }
 .quarter{
   width:50%;
   height:100%;
   float:left;
 }
 .fill-div{
   display: block;
   height: 100%;
   width: 100%;
   text-decoration: none;
 }
 .resume{
   background-color: #606E73;
 }
 .about_me{
   background-image: linear-gradient(
      rgba(107, 152, 166, 0.5),
      rgba(107, 152, 166, 0.5)
    ), url("Bridals10.jpg");
   background-size: 100% 150%;
   background-position: center;
   background-repeat: no-repeat;
   background-color: #6B98A6;
 }
 .accomplishments{
   background-image: linear-gradient(
      rgba(76, 73, 73, 0.5),
      rgba(76, 73, 73, 0.5)
    ), url("Playing-with-fire-web.jpg");
   background-size: 100% 100%;
   background-color: #4C4949;
   background-repeat: no-repeat;
 }
 .contact_me{
   background-image: linear-gradient(
      rgba(115, 112, 113, 0.5),
      rgba(115, 112, 113, 0.5)
    ), url("DGM-CARTOON.jpg");
   background-size: 100% 100%;
   background-color: #737071;
   background-repeat: no-repeat;
 }

h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 90;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  transform: translate(-50%, -50%);
}
