<div class="text-center">
  <h1>List of Tournaments with dates</h1>
</div>
<div class="container">
  <% @tournament.each do |tournament| %>
    <ul>
      <li> <%= link_to tournament.date, tournament_user_index_path(tournament.id) %> </li>
    </ul>
  <% end %>
<%= link_to "add a tournament", new_tournament_path %>
</div>
<%= link_to root_path do%>
<i class="fa fa-times-circle fa-3x"></i>
<% end %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'analytics_secret_code', 'auto');
  ga('send', 'pageview');

</script>
