<div class="text-center">
  <h1>List of Tournaments with dates</h1>
</div>
<div class="container">
  <% @tournament.each do |tournament| %>
    <ul>
      <li> <%= link_to tournament.date, tournament_user_index_path(tournament.id) %> </li>
    </ul>
  <% end %>
<%= link_to "add a tournament", new_tournament_path %>
</div>
